header {
    background-color: indigo;
    }
    
    header img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        display: flex;
     }
    
     h1 {
        color: brown;
    }
    
     body {
        background-color: indigo;
        color: black;
        background-color: azure;
        }
    
    main img{
        width: 500px;
        height: 500px;
        border-radius: 3%;
    }
    
    footer{
        background-color: rgb(15, 63, 2);
    
    
    }
    
    
    li {
        
    }